@import "../../all.scss";

.sign-up-page_main {
  position: absolute;
  @include child-center-horizontal;
  width: 400px;
  color: black;

  span {
    font-size: 1.2rem;
    display: block;
    margin-bottom: 3px;
  }

  .guide-row {
    margin-top: 70px;
    font-size: 1.2rem !important;
    display: flex;
    width: 80%;
    @include child-center-horizontal;
    div {
      flex: 1;
      text-align: center;
      text-decoration: underline;
      a {
        color: black;
        &:hover {
          color: blue !important;
        }
      }
    }
    #sign-up-link a {
      position: absolute;
      right: 10px;
    }
  }
}
.sign-up-page {
  position: relative;
  height: 500px;
  font-family: "Open Sans";

  .btn-login:active {
    cursor: progress;
  }

  .form {
    .row-input {
      margin-bottom: 10px;
      margin-top: 0px;
      width: 100%;
    }
    .ant-select-selection {
      border:1px solid #23A8F2 !important;
  }

    input {
      box-sizing: border-box;
      font-size: 1rem !important;
      font-weight: 100;
      padding-left: 20px;
      height: 35px;
      width: 100%;
      border-radius: 2px;
      border: 0px;
      font-family: "Open Sans";
      border: 1px solid #23a8f2;
    }
    input::placeholder {
      color: grey;
      font-size: 1rem !important;
    }
    .required .label:after{
      color: #e32;
      content: ' *';
      display:inline;
    }
  }
  .btn-signup {
    @include child-center-horizontal;
    height: 40px;
    line-height: 38px;
    text-align: center;
    color: white;
    border-radius: 2px;
    background-color: rgb(12, 114, 197);
    margin-right: 50px;
    width: 100px !important;
    font-size: 1.2rem !important;
    &:hover {
      background-color: rgb(3, 82, 146);
      cursor: pointer;
    }
    &:active {
      color: rgb(128, 174, 248);
    }
  }
}
