@import "../all.scss";
#bg_home {
  @include child-center-horizontal;
  width: 100%;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 800px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.bg_home {
  width: 100%;
}

#logo {
  display: inline-block;
  width: 150px;
}
#slogan {
  display: inline-block;
  position: absolute;
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  height: 80px;
  top: 13px;
  margin-left: 80px;
  font-weight: 600;
  color: black;

  white-space: nowrap;
}

#head_bar {
  //background-color: rgba(76,175,80,0.2);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 75, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 78px;
  overflow: visible;
}

#footer {
  margin-top: 50px;
  background-color: #364d79;
  height: 80px;
  img {
    display: block;
    float: left;
    width: 80px;
    height: 50px;
  }
  .text {
    display: block;
    float: right;
    color: white;
    font-size: 1.2rem;
  }
}

#slide_banner img {
  width: 100%;
  height: 100% !important;
}

.tab-view {
  border-radius: 5px;
}

.icon {
  color: white;
  float: right;
  font-size: 3rem;
  margin-left: 20px;
  padding: 3px;
  &:hover {
    background-color: rgb(72, 102, 158);
    cursor: pointer;
  }
}

.list-profile img {
  width: 95%;
}
.panel-item {
  width: 300px;
  height: 400px;
}
#acount_icon {
  width: 75px;
  height: 75px;
  border-radius: 256px;
  &:hover {
    cursor: pointer;
  }
}
#btn_logout {
  display: none;
  position: absolute;
}

.account-icon-area:hover #btn_logout {
  display: block !important;
}
#btn_logout:hover {
  color: white;
  background-color: black;
}

#btn_logout:active {
  color: white;
  background-color: rgb(185, 79, 79);
}
.middle-layout {
  width: 100%;
  min-height: 75vh;
}
